# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.igch
*.ipch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*~
*.cpp~
*.h~
*.pdb
*.ilk
*.tlog
*.idb

*.opendb
*.db
*.cache
*.log

*.suo

.vs/hmh/v1*/
win32_handmade/Debug/
win32_handmade/Release/
build/
packages/
