# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*~
*.cpp~
*.h~
build/**
build/vc140.pdb
build/win32_handmade.pdb
build/win32_handmade.ilk
build/win32_handmade.pdb
build
