# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*~
*.cpp~
*.h~
*.pdb
*.ilk
*.tlog
*.idb

*.opendb
*.db
*.cache
*.log

win32_handmade/Debug/
win32_handmade/docs/
build/*.exe
build/*.pdb
build/*.lastcodeanalysis*
Release/
*.iobj
*.ipdb
